body{

    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{

    color: rgb(160, 160, 160);
}


.back{
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

    min-height: 80vh;
    margin: 0 auto;
    margin-bottom: 2%;
    width: 80%;
    border-radius: 10px;
    
    color: white;
    background-color: black;

}

.left_div{
    flex-grow: 1; /* Esto hará que cada elemento ocupe el mismo espacio */
    width: 30%;
    margin: 10px;

    border-radius: 10px;
    background-color: rgb(59, 209, 29);
}
.headers{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.social-box{
    background-color:white;
    margin: 20px;

    display: flex;
    flex-wrap: wrap;
    
    min-height: 12vh;
    border-radius: 10px;
}

.social-titles{
    display: flex;
    align-items: center;

    gap: 20px;
    margin: 0 auto;
    
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
      
}

.titles{

}

.center_div{
    flex-grow: 1;
    width: 30%;
    margin: 10px;

    border-radius: 10px;
    background-color: rgb(59, 209, 29);

}

.right_div{
    flex-grow: 1; /* Esto hará que cada elemento ocupe el mismo espacio */
    width: 30%;
    margin: 10px;

    border-radius: 10px;
    background-color: rgb(59, 209, 29);
}


.project-box{
    background-color:white;
    margin: 20px;

    display: flex;
    flex-wrap: wrap;
    
    min-height: 12vh;
    border-radius: 10px;
}

@media (max-width: 700px){
    .left_div{
        display: grid;
        grid-template-columns: repeat(2, 50%); /* Crea dos columnas de igual tamaño */
        
    }
    .social-box{
        margin: 5px;
    
    }
    .social-titles h4 {
        display: none;
      }
      
    .social-titles i {
        margin-right: 0 auto;
        margin: 5px;
        
      }
    .left_div h2{
        display: flex;
        align-items: center;
    }




}